@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">Ha ocurrido un error mientras estaba siendo procesada su solicitud.</h2>
<br />
<h2><a href="@Url.Action("All", "Requisition")">Ir a la aplicacion</a></h2>

